
body { background: #dcdcdc;
}
.Portf {
  margin: 10px;
   padding:10px;
  border-style:none;
   border-radius: 10px;
   text-align:left;
   background:white;
   color: ;
}

.av { margin: 10px;
  padding: inherit;
   border-style:none;
  border-radius: 10px;
  text-align: center;
  background:#00913f;
  color: white;
}
.lista{ list-style-type: none;

}
 #Contacto{ background: black;
 }
